<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Autofac" version="3.5.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Fody" version="1.29.2" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Microsoft.Azure.Mobile" version="0.5.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.5.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.5.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Plugin.VersionTracking" version="1.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="rangstrup.xam.plugin.analytics" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="rangstrup.xam.plugin.map" version="1.0.28" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="rangstrup.xam.plugin.mvvm" version="1.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.5.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>